body{ 
	
background: #1D2B64; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1D2B64 , #F8CDDA); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1D2B64 , #F8CDDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
 }

 #movemaker {
 	float: left;
 	margin: 10px;
 }

 #mbutton {
 	clear: all;
 	float: left;
 	margin-bottom: 30px;   
 }

 .jumbotron {

 	font-family: 'Indie Flower', cursive;

 	font-size: 500%; 
 }

 .myform {
 	margin-left: 10%
 	padding: 2%;  
 }