h1 {
	text-align: center;
	font-weight: bold;
}


body{ 
	background-color: #C8E6C9; 
 }

.jumbotron {
	background-color: #1B5E20; 
}

 .maker {
 	color: #ffffff; 
 }

 #movemaker {
 	float: left;
 }

 #mbutton {
 	clear: all;
 	float: left;  
 }